body{
    background-color: white;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1{
    text-align: center;
    margin: 0;
}

.grid-container{
    display: grid; 
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px auto auto auto auto auto 50px ;
    grid-template-areas: 
    'header header'
    'section1 section1'
    'section2-1 section2-2'
    'section3-1 section3-2'
    'section4-1 section4-2'
    'section5-1 section5-2'
    'footer footer';
}

.headcontainer{
    grid-area: header;
}

#session{
    color: white;
    border-radius: 20px;
    background-color: red;
    padding: 10px;
}

.headcontainer{
    background-color: rgb(255, 255, 255);
    position: sticky;
    z-index: 5;
    top: 0px;
}
.subheadcontainer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}

.list-headcontainer1{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto' ,sans-serif;
    font-weight: bold;
    gap: 20px;
}
.list-headcontainer2{
    display: flex;
    flex-direction: row;
    font-family: 'Roboto' ,sans-serif;
    font-weight: bold;
    gap: 10px;
}

.nav-list{
    color: black;
}

#Logo-main{
    width: 100px;
}

#regist{
    padding: 10px;
    color:black ;
    background-color: gainsboro;
    border-radius: 50px;
}


h1{
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
}

#tittle2{
color: green;
}

.container-img1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.container-img2{
    display: flex;
    justify-content: space-between;
}

.img-item{
    height: 400px;
    width: 200px;
    object-fit: cover;
    border-radius: 13px;
}

.section1{
    grid-area: section1;
    background-color: rgb(255, 255, 255);
}

#tittle1{
    font-size: 60px;
    font-weight: bold;

}

#tittle2{
    font-size: 60px;
    font-weight: bold;
}
.section2-1{
    background-color: #fffd92;
    grid-area: section2-1 ;
}

.ul-section2-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-content: center;
}

.img-item21{
    height: 400px;
    width: 250px;
    object-fit: cover;
    border-radius: 50px;
}

.img-item21s{
    height: 250px;
    width: 180px;
    object-fit: cover;
    border-radius: 50px;
}

.ul-section2-1>li:nth-child(1){
    position: relative;
    top: 200px;
    left: 200px;
    z-index: 1;
}

.ul-section2-1>li:nth-child(3){
    position: relative;
    bottom: 130px;
    left: 50px;
}

.ul-section2-1>li:nth-child(2){
    position: relative;
    top: 130px;
}

.ul-section2-1>li:nth-child(4){
    position: relative;
    bottom: -110px;
}

.search1{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 20px;
    bottom: 470px;
    left: 150px;
    z-index: 4;
    background-color: white;
    width: 280px;
    border-radius: 60px;
}

#lup{
    width: 20px;
    position: relative;
    right: 10px;
    top: 15px;
}

#searchp{
    font-family: 'roboto';
    position: relative;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    color: #6E0F3C;
}

.section2-2{
    background-color: #fffd92;
    grid-area: section2-2;
}

.ul-section2-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #C31952;
    padding-top: 300px;
}

.parrafo{
    max-width: 400px;
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto';
}

#Explorar{
    background-color: #C31952;
    color: #fffd92;
    margin: 20;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Roboto';
}

.section3-1{
    background-color: #DAFFF6;
    grid-area: section3-1 ;
}

.section3-2{
    background-color: #DAFFF6;
    grid-area: section3-2 ;
    color: #006B6C;
}

.ul-section3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #006B6C;
    padding-top: 180px;
}

#tittle-section3-1{
    font-size: 60px;
    font-weight: bold;
}

#parrafo-section3-1{
    max-width: 400px;
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto';
}

#Explorar-section3-1{
    background-color: #006B6C;
    color: #DAFFF6;
    margin: 20;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Roboto';
}

.item-img3{
    height: 173px;
    width: 165px;
    object-fit: cover;
    border-radius: 40px;
}

.item-img3s{
    height: 130px;
    width: 90px;
    object-fit: cover;
    border-radius: 30px;
}

.item-img31{
    height: 420px;
    width: 400px;
    object-fit: cover;
    border-radius: 60px;
}

.item-img3i{
    height: 235px;
    width: 223px;
    object-fit: cover;
    border-radius: 60px;
}

.ul-section3-21{
    position: absolute;
    top: 1890px;
    left: 800px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ul-section3-23{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.ul-section3-24{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 1600px;
    left: 1200px;
}

.section4-1{
    grid-area: section4-1;
    background-image: url(https://s.pinimg.com/webapp/shop-de8ddf10.png);
    background-size: 100%;
}

.section4-2{
    grid-area: section4-2;
    background-color: #FFE2EB;
}

#face{
    width: 100%;
}

.ul-section4-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

#tittle-section4-2{
    width: 400px;
    font-size: 60px;
    color: #C32F00;
    font-weight: bold;
    text-align: center;
}

#parrafo-section4-2{
    width: 420px;
    font-size: 24px;
    color: #C32F00;
    text-align: center;
    font-family: 'Roboto';

}

#Explorar-section4-2{
    background-color: #C32F00;
    color: #FFE2EB;
    margin: 20;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Roboto';
}

.section5-1{
    grid-area: section5-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://images.ctfassets.net/2pyx8rwuvz6x/3agrFy0rGxd9Vg2eHdKHH/ea15edb209ebd0028b2dda6d64fc93b6/post-107-assets-1-en-us.jpg?fm=webp&q=85);
    background-size: 200%;
    background-repeat: no-repeat;
}

#tittle-section5-1{
    color: white;
    align-self: center;
    width: 400px;
    font-size: 70px;
    font-weight: 600;
    text-align: start;
}

.section5-2{
    grid-area: section5-2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(https://images.ctfassets.net/2pyx8rwuvz6x/3agrFy0rGxd9Vg2eHdKHH/ea15edb209ebd0028b2dda6d64fc93b6/post-107-assets-1-en-us.jpg?fm=webp&q=85);
    background-position: 20px;
}

.ul-items-section5-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Roboto';
    background-color: white;
    border-radius: 30px;
    padding: 2px;
}
.inputs li {
    margin-bottom: 15px;
}

.inputs input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 16px;
}

.inputs label {
    margin-bottom: 5px;
    display: block;
    color: #333;
    font-size: 14px;
}

#Continuar{
    background-color: red;
    color: #f7f7f7;
    margin: 20;
    border-radius: 20px;
    font-family: 'Roboto';
    padding: 10px 50px 10px 50px;
}

#Facebook{
    background-color: #4895fa;
    color: #ffffff;
    border-radius: 20px;
    font-family: 'Roboto';
    padding: 10px 50px 10px 50px;
}

#Google{
    background-color: rgb(244, 243, 243);
    color: #000000;
    border-radius: 20px;
    font-family: 'Roboto';
    padding: 10px 50px 10px 50px;
    border-color: #000000;
    border-width: thin;
}

.Condiciones{
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    margin-top: 10px;
}

.Recopilation{
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}

.Member{
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}

#Logo-face{
    width: 20px;
    position: relative;
    bottom: 35px;
    left: 10px;
}

#Logo-google{
    width: 20px;
    position: relative;
    right: 250px;
    top: 5px;
}

#tittle-section5-2{
    font-size: 32px;
    font-weight: 600
}


.footer{
    grid-area: footer;
    background-color: rgb(255, 255, 255);
}


.ul-footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-family: 'Roboto' ,sans-serif;
    font-weight: bold;
    font-size: small;
    gap: 10px;
}